# Data Cleaning - Brain Cancer

Avani Karve


Student, 

Department of Statistics, 

Savitribai Phule Pune University,

Pune, Maharashtra, India

In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv("D:\\MSc Statistics SPPU\\SEM II\\Microarray\\Assignments\\Brain_5C.csv", index_col=0)
print("Shape: ", df2.shape)
df2 = df2.T
df2.head()

Shape:  (130, 54676)

samples,834,835,836,837,838,839,840,841,842,843,...,954,955,956,957,958,959,960,961,962,963
type,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,ependymoma,...,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma,pilocytic_astrocytoma
1007_s_at,12.49815,13.067436,13.068179,12.45604,12.699958,12.461089,13.655639,12.60137,12.463229,12.265713,...,13.220839,13.065363,13.017009,13.036055,13.222576,12.658228,12.812823,12.706991,12.684593,12.397722
1053_at,7.604868,7.99809,8.573674,9.098977,8.800721,7.676462,7.980903,8.873161,8.206494,7.879857,...,8.439884,8.555783,8.872885,8.787555,8.803786,8.84327,8.51055,8.795721,8.293938,8.843524
117_at,6.880934,7.209076,8.647684,6.628784,11.556188,7.244519,7.56662,9.21431,8.891218,10.210694,...,7.203701,7.4386,7.565442,7.77819,6.9737,7.672655,8.729699,7.772359,7.228186,8.8251
121_at,9.027128,9.723322,9.613002,8.517677,9.166309,9.676867,10.102907,9.690334,9.737344,9.700963,...,9.577873,9.777299,8.491957,9.017057,9.60331,9.125912,9.104402,8.327273,8.494428,8.551541

In [3]:
first_row = df2.iloc[0]
col_names = df2.columns

In [4]:
# ID Type association
ID_type_dict2 = {}
for category in first_row.unique():
    ID_type_dict2[category] = list(col_names[first_row == category])

In [5]:
for cancer in first_row.unique():
    print(cancer, len(ID_type_dict2[cancer]))

ependymoma 46
glioblastoma 34
medulloblastoma 22
normal 13
pilocytic_astrocytoma 15

In [6]:
# Reseting column names
df2.columns = df2.iloc[0]
df2 = df2[1:]
unique_cols = list(df2.columns.unique())  

rename_dict2 = {}  
for i, col in enumerate(unique_cols):
    if col == 'normal':
        pass
    else:
        rename_dict2[col] = f"T{i+1}" 

df2 = df2.rename(columns=rename_dict2)  
df2.head()

type,T1,T1,T1,T1,T1,T1,T1,T1,T1,T1,...,T5,T5,T5,T5,T5,T5,T5,T5,T5,T5
1007_s_at,12.49815,13.067436,13.068179,12.45604,12.699958,12.461089,13.655639,12.60137,12.463229,12.265713,...,13.220839,13.065363,13.017009,13.036055,13.222576,12.658228,12.812823,12.706991,12.684593,12.397722
1053_at,7.604868,7.99809,8.573674,9.098977,8.800721,7.676462,7.980903,8.873161,8.206494,7.879857,...,8.439884,8.555783,8.872885,8.787555,8.803786,8.84327,8.51055,8.795721,8.293938,8.843524
117_at,6.880934,7.209076,8.647684,6.628784,11.556188,7.244519,7.56662,9.21431,8.891218,10.210694,...,7.203701,7.4386,7.565442,7.77819,6.9737,7.672655,8.729699,7.772359,7.228186,8.8251
121_at,9.027128,9.723322,9.613002,8.517677,9.166309,9.676867,10.102907,9.690334,9.737344,9.700963,...,9.577873,9.777299,8.491957,9.017057,9.60331,9.125912,9.104402,8.327273,8.494428,8.551541
1255_g_at,4.176175,4.826126,4.396581,4.154847,4.165891,3.904301,4.659353,4.341822,3.936265,4.087726,...,4.712346,4.797744,6.443307,7.260109,6.928406,5.495477,3.967228,6.329383,6.049414,5.002072

In [ ]:
df2.to_csv("C:\\Users\\Avani\\Downloads\\Clean_Brain_5C.csv", index = True)

In [ ]:
# Saving Association Dictionaries as csv files
pd.DataFrame(list(ID_type_dict2.items()), columns=["Category", "Columns"]).to_csv("C:\\Users\\Avani\\Downloads\\ID_type_dict2.csv", index=False)  
pd.DataFrame(list(rename_dict2.items()), columns=["Original Name", "New Name"]).to_csv("C:\\Users\\Avani\\Downloads\\rename_dict2.csv", index=False)